<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ tada.tada_text }}</h1>
    <p>{{ tada.pub_date }}</p>
    <p>{{ tada.id }}</p>

    <p> this page might display the health of the TADA </p>

    <h2>SETTINGS</h2>
    <p>Here are the settings:</p>
    <ul>
        {% for setting in tada.setting_set.all %}
        <li><a href="{% url 'tada:setting' tada.id setting.id %}">{{ setting.setting_name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'tada:modules' tada.id %}">All Modules</a></li>
    </body>
</html>
