<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ tada.tada_text }}</h1>
    <p>{{ tada.pub_date }}</p>
    <p>{{ tada.id }}</p>
    <p>{{ tada.choice_set.all }}</p>

    <h2>Modules</h2>
    <p>Here are the modules:</p>
    <ul>
        {% for module in tada.module_set.all %}
            <li><a href="{% url 'tada:module' tada.id module.id %}">{{ module.module_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
